/* common */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* end common  */

/* debug */
.debug * {
	border: 1px dashed;
}

.debug header {
	height: 80px;
	background-color: #add8e6;
}
.debug section {
	height: 480px;
	background-color: #ffffff;
}

.debug footer {
	height: 80px;
	background-color: #7fffd4;
}

/* end debug  */

/* utilities */

.flex-container {
	display: flex;
	justify-content: center;
	align-content: center;
}
.flex-container1 {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-container2 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-content: center;
}
.flex-container3 {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.flex-container4 {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

/* end utilities  */

/* header  */
header {
	padding-top: 1rem;
	padding-bottom: 1rem;

	background-color: #3161e0;
}
.dimension {
	width: 80%;
}
.logo {
	padding-left: 0.4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 10%;
	background-color: #3161e0;
}
.login {
	border-radius: 99px;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-align: center;
	align-self: center;
	border: none;
	width: 5%;
	background-color: white;
}

.link {
	align-items: center;
	margin: auto;
	padding-top: 1rem;
	padding-bottom: 1rem;
	width: 35%;
	background-color: #3161e0;
}
a {
	color: white;
	text-decoration: none;
}
/* end header  */

/* body  */
body {
	background-color: #23272a;
}
.title {
	color: white;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 1rem;
	font-size: 3rem;
	font-weight: bold;
}
.second-title {
	padding-top: 2.5rem;
	text-align: start;
	padding-bottom: 2rem;
	font-size: 2.5rem;
	font-weight: bold;
}
.second-paragraph {
	text-align: start;
	padding-bottom: 2rem;
	line-height: 2rem;
	font: bold;
	font-size: 19px;
}
.third-title {
	padding-top: 2.5rem;
	text-align: start;
	padding-bottom: 2rem;
	font-size: 2.5rem;
	font-weight: bold;
}
.third-paragraph {
	text-align: start;
	padding-bottom: 2rem;
	line-height: 2rem;
	font: bold;
	font-size: 19px;
}
.paragraph {
	color: white;
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 5rem;
	line-height: 2rem;
	font-size: 1.2rem;
}
.fourth-title {
	padding-top: 2.5rem;
	text-align: start;
	padding-bottom: 2rem;
	font-size: 2.5rem;
	font-weight: bold;
}
.fourth-paragraph {
	text-align: start;
	padding-bottom: 2rem;
	line-height: 2rem;
	font: bold;
	font-size: 19px;
}
.fifth-paragraph {
	color: black;
	text-align: center;

	padding-left: 5rem;
	line-height: 2rem;
	font-size: 1.2rem;
}
.fifth-title {
	color: black;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 1rem;
	font-size: 3rem;
	font-weight: bold;
}
.bottone {
	width: 30%;
	border-radius: 99px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	text-align: center;
	margin-left: 8rem;
	border: none;
	font: bold;
	font-size: 18px;
}
.bottone1 {
	background-color: black;
	color: white;
	font: bold;
}
.bottone3 {
	background-color: #8ea1e1;
	color: white;
	font: bold;
}
.bottone4 {
	border-radius: 99px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	border: none;
	font-size: 16px;
}
.subtitle {
	color: black;
	text-align: center;
	line-height: 2rem;
	font-size: 1.5rem;
	margin-bottom: 2rem;
	font: bold;
}
.scarica {
	color: white;
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	padding-left: 5rem;
	line-height: 2rem;
	font-size: 1.2rem;
	margin-bottom: 2rem;
	font: bold;
	font-size: 19px;
}
.stars {
	background-image: url(../img/stars.svg);
	background-size: contain;
}

.bg-color {
	background-color: #3161e0;
}
.intestation {
	text-align: start;
}
.main {
	margin-left: 3rem;
	margin-top: 3rem;
	width: 50%;
	margin-bottom: 3rem;
	background-color: #ee82ee00;
	margin-right: 10rem;
}
.image {
	background-image: url(../img/jumbo.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-image {
	background-image: url(../img/wave.svg);
}
.image1 {
	background-image: url(../img/item1.svg);
	background-size: cover;
	background-repeat: no-repeat;
}
.image2 {
	background-image: url(../img/item2.svg);
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 100%;
}
.image3 {
	background-image: url(../img/item3.svg);
	background-size: cover;
	background-repeat: no-repeat;
}

.bg-color-main {
	background-color: #3161e0;
	min-height: 600px;
}
.main1 {
	width: 40%;
	margin-bottom: 3rem;
	background-color: #1e8fff00;
}
.main2 {
	width: 20%;
	background-color: #ffc0cb00;
}
.bg-color-main1 {
	background-color: white;
	min-height: 600px;
}
.bg-color-main2 {
	background-color: #f6f6f6;
	min-height: 600px;
}
.bg-color-main3 {
	background-color: #f6f6f6;
	min-height: 900px;
}
.bg-color-main4 {
	background-color: #23272a;
	min-height: 600px;
}
.main3 {
	margin-top: 3rem;
	width: 60%;
	margin-bottom: 3rem;
	background-color: #228b2200;
}
.main4 {
	width: 20%;
	margin-bottom: 3rem;
	background-color: #228b2200;
}
.main5 {
	width: 10%;
	background-color: #20b2aa;
} /* end body  */
.main6 {
	margin-top: 0.2rem;
	margin-bottom: 2.7rem;
}
.elenco {
	margin-top: 5rem;
	margin-bottom: 3rem;
}
.elenco1 {
	margin-top: 5rem;
	margin-bottom: 3rem;
	padding-left: 5rem;
	padding-right: 5rem;
	line-height: 2.5rem;
}
.lingua {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
h2 {
	color: #3161e0;
	font-size: 2.5rem;
}
span {
	color: white;
}
h4 {
	color: #3161e0;
}

.elenco2 {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4rem;
	margin-bottom: 4rem;
}

/* end body  */
/* footer  */
footer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 4rem;
	width: 60%;
}
.bottone2 {
	background-color: #ffb6c1;
	padding: 0.2rem;
}
.bg-color-main5 {
	min-height: 80px;
	background-color: #7fffd4;
}
/* end footer  */
